:root {
    --grey: #535353;
    --whitegrey: #b1acac;
    --white: #ffffff;
    --red: #e52924;
    --green: #c4d11a;
    --shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    --red-gradient: linear-gradient(to top, #e56424, #e52924 50%);
    --yel-gradient: linear-gradient(to bottom, #ee8435, #ffae0d);
    --font: itc-avant-garde-gothic-pro, sans-serif;
    --thin: 300;
    --medium: 500;
    --bold: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    font-weight: var(--medium);
    color: var(--white);
}

p {
    font-weight: var(--thin);
    font-size: 40px;
    line-height: 1.4;
}


a {
    text-decoration: none;
    white-space: nowrap;
}

li {
    list-style-type: none;
    display: inline;
}

img {
    display: block;
}

strong {
    font-weight: var(--bold);
}

.hidden{
    display: none;
}

.formhidden{
    display: none;
}

.error{
    color: var(--red);
}

.success{
    color: #f18d2b;
}

/* HEADER */

header {
    z-index: 2;
    padding: 30px 60px;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    width: 160px;
    height: auto;
}

header a {
    font-size: 30px;
    line-height: 1.4;
    color: var(--grey);
}

header li {
    margin-left: 50px;
}

.sub {
    padding: 16px 13px;
    color: var(--white);
    font-weight: bold;
    border-radius: 34px;
    box-shadow: var(--shadow);
    background: var(--red-gradient);
}

.sub:hover {
    box-shadow: none;
    transition: 0.4s;
}

/* SECTION WHATS APPETEE */

#what {
    background-image: url(../img/bckg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

#what article{
    margin-right: 20px;
}

#what .img-container {
    margin: 0 auto;
}

#what img {
    width: 320px;
    height: auto;
    margin: 0 auto;
}

h1 {
    font-size: 60px;
    font-weight: var(--bold);
    margin-top: 100px;
    margin-bottom: 35px;
}

#what p {
    width: 450px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 37px;
    box-shadow: var(--shadow);
    padding: 39px 41px 46px 41px;
}

label {
    font-size: 50px;
    font-weight: var(--bold);
    color: var(--red);
}

form div {
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    outline: none;
    text-align: center;
    width: 100%;
    padding: 20px;
    border-radius: 35px;
    box-shadow: var(--shadow);
    margin-top: 43px;
    font-family: var(--font);
    font-size: 30px;
    font-weight: var(--thin);
    color: var(--whitegrey);
}

input::placeholder {
    color: var(--whitegrey);
}

button {
    padding: 18px 85px;
    border: none;
    outline: none;
    border-radius: 34px;
    box-shadow: var(--shadow);
    background-image: var(--yel-gradient);
    color: var(--white);
    font-size: 30px;
    font-family: var(--font);
    font-weight: var(--bold);
}

button:hover {
    cursor: pointer;
    box-shadow: none;
    transition: 0.4s;
}

/* SECTION FONCTIONNALITES     */

.yel-bcg {
    background: var(--yel-gradient);
}

#fonctions {
    padding: 60px 20px 100px;
}

h2 {
    font-size: 90px;
    font-weight: var(--bold);
    text-align: center;
}

hr {
    width: 320px;
    height: 6px;
    background-color: var(--green);
    border: none;
    margin: 0 auto;
    margin-top: 35px;
}

#fonctions>div {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

#fonctions article {
    width: min-content;
}

#fonctions p {
    text-align: center;
}

/* SECTION RECETTES */

#recettes {
    background-image: url(../img/bckg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0 70px 0;
}

#recettes article {
    width: 90%;
    margin: 0 auto;
    margin-top: 110px;
    border-radius: 36px;
    padding: 0px 40px 40px 40px;
    backdrop-filter: blur(50px);
}

#recettes img {
    margin-top: 70px;
    width: 470px;
    height: auto;
}

#recettes div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#recettes p {
    text-align: center;
    margin-top: 100px;
}

/* SECTION INFOS */

#infos {
    background: var(--yel-gradient);
    padding: 50px 120px 100px 120px;
}

#infos aside{
    display: flex;
}

#infos div{
    display: flex;
    align-items: center;
    margin-top: 70px;
}

#infos a{
    border-radius: 50%;
    border: 5px solid #f2f2ff;
    overflow: hidden;
}

#infos img{
    width: 300px;
    height: auto;
    box-shadow: var(--shadow);
	transform: scale(1);
	transition: .3s ease-in-out;
}

#infos img:hover{
	transform: scale(1.3);
}

.supperpos{
    z-index: 1;
    margin-left: -50px;
}

#infos article{
    margin-left: 110px;
}

/* SECTION PRIX */

#prix{
    background-image: url('../img/bckg3.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 65px 0 100px 0;
}

#prix article{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    justify-content: space-evenly;
}

#prix article div{
    width: 350px;
    height: 520px;
    border-radius: 20px;
    background-color: var(--white);
    padding: 40px 15px;
    margin: 0 10px;
    margin-top: 110px;
}

#prix article ul{
    display: flex;
    flex-direction: column;
}

#prix article li{
    font-size: 18px;
    color: #9f9f9f;
    margin-top: 25px;
}


h4{
    font-size: 35px;
    font-weight: var(--medium);
    text-align: center;
}

span{
    display: block;
    font-size: 56px;
    font-weight: var(--bold);
    text-align: center;
    margin-top: 40px;
}

.free h4, .free span{
    color: var(--green);
}

.free ul{
    margin-top: 80px;
}

.prem h4, .prem span, .prem p{
    color: var(--red);
}

#prix p{
    margin-top: 70px;
    text-align: center;
}

#prix .spec {
    text-align: center;
    font-size: 15px;
    margin-top: 0;
}

b{
    font-weight: var(--bold);
    color: #f18d2b;
}

.divlink{
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
}

.divlink a{
    display: table;
    margin: 0 auto;
    font-size: 30px;
    padding: 18px 56px;
    font-weight: var(--medium);
}

/* FOOTER */

footer{
    background: linear-gradient(to bottom, #ffae0d, #ee8435);
    padding: 40px 75px;
}

.white{
    width: 300px;
    height: auto;
}

footer p{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    font-weight: var(--bold);
}

footer article{
    display: flex;
    align-items: center;
}

.socials{
    display: flex;
}

.socials img{
    transition: 0.3s ease-in-out;
}

.socials img:hover{
    transform: scale(1.3);
}

.downloads img{
    width: 150px;
    height: auto;
    margin: 10px;
    transition: 0.3s ease-in-out;
}

.downloads img:hover{
    transform: scale(1.3);
}

footer article > div:last-child{
    display: flex;
    width: 100%;
    margin-left: 20%;
    justify-content: space-around;
    align-items: center;
}


/* RESPONSIVE */

@media screen and (max-width:1460px){
    
    header{
        display: block;
    }

    .logo{
        margin: 0 auto;
        margin-bottom: 25px;
    }

    nav ul{
        width: fit-content;
        margin: 0 auto;
    }

    #fonctions article{
        margin: 0 auto;
    }

    #fonctions article{
        width: 600px;
    }

    #fonctions img{
        margin: 0 auto;
        width: 500px;
    }
}

@media screen and (max-width:1370px){
    #infos > div{
        display: block;
    }

    #infos aside{
        justify-content: space-evenly;
        margin-bottom: 45px;
    }

    .supperpos{
        margin-left: 10px;
    }

    #infos article{
        margin-left: 0;
    }

    #prix article{
        width: 100%;
    }
}

@media screen and (max-width:1295px){
    nav{
        display: none;
    }

    header{
        padding: 10px;
    }

    .logo{
        width: 110px;
        margin-bottom: 0;
    }
}

@media screen and (max-width:1140px){
    .hidden{
        display: initial;
    }

    #what{
        display: block;
        padding: 50px 15px;
    }

    #what p{
        width: auto;
    }

    #what a {
        display: table;
        width: fit-content;
        font-size: 30px;
        margin: 31px auto 50px;
        padding: 15px 20px;
        
    }

    form{
        width: fit-content;
        margin: 0 auto;
    }

    button{
        margin-top: 20px;
    }
}

@media screen and (max-width:1024px){
    p,input, button{
        font-size: 20px;
    }

    h1{
        font-size: 25px;
    }

    h2, label{
        font-size: 30px;
    }

    #fonctions>div{
        overflow-x: scroll;
        justify-content: unset;
    }

    #recettes div{
        flex-wrap: unset;
        justify-content: unset;
        overflow-x: scroll;
    }

    #recettes img{
        width: 90%;
    }

    #recettes p{
        margin-top: 50px;
    }
}


@media screen and (max-width:840px){
    hr{
        width: 80%;
    }

    footer{
        padding: 40px 15px;
    }
    
    footer article{
        display: block;
    }

    .formhidden{
        display: flex;
        margin: 60px auto;
    }

    .white{
        margin: 0 auto;
        width: 150px;
    }

    footer article > div:last-child{
        margin-left: 0;
        flex-direction: column;
    }

    #infos{
        padding: 50px;
    }
}

@media screen and (max-width:755px){
    #what img{
        width: 90%;
    }
    
    #infos img{
        width: 130px;
    }
}

@media screen and (max-width:740px){
    #prix article div{
        margin-top: 50px;
    }

    footer p{
        font-size: 11px;
    }
}

@media screen and (max-width: 520px){
    form{
        width: 100%;
    }

    #fonctions article{
        width: 300px;
    }

    #fonctions img{
        width: 280px;
    }
}

@media screen and (max-width: 450px){
    #infos a{
        overflow: unset;
    }

    #infos img{
        border-radius: 50%;
    }

    label{
        font-size: 25px;
    }
}